.App {
  font-family: Arial, "Times New Roman", Helvetica;
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color:#eee
}

.App-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #D4F1F4;
  min-height: 100vh;
  width: 15%;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(8px + 1.1vmin);
}

.App-body {
  min-height: 100vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(8px + 1.5vmin);
}

.App-topbar {
  visibility: hidden;
}

@media screen and (max-width: 1280px) {
  .App {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .App-sidebar {
    visibility: hidden;
  }

  .App-topbar {
    visibility: visible;
  }

  .App-body {
    background-color: #D4F1F4;
    font-size: 1.2em;
    margin: 0;
    padding: 5%;
  }
}